.tmp/
.vs/
.*/
*.opensdf
*.sdf
*.suo
*.user
x64/
Win32/
vs2019/*
build/*
*.asi
Inventory.Tests/obj/Debug/Inventory.Tests.csprojAssemblyReference.cache
Inventory/bin/Inventory.dll
Inventory/bin/Inventory.pdb
Inventory/obj/Debug/Inventory.csprojAssemblyReference.cache
Inventory/obj/Debug/Inventory.dll
Inventory/obj/Debug/Inventory.pdb
