Inventory/bin/*
Inventory/obj/*
Inventory/Properties/*
Inventory/.vs/*
Inventory/bin/
Inventory/obj/
Inventory/Properties/
Inventory/.vs/
Inventory\bin\*
Inventory\obj\*
Inventory\Properties\*
Inventory\.vs\*
Inventory\bin\
Inventory\obj\
Inventory\Properties\
Inventory\.vs\
Inventory/Inventory.csproj.user
*.dll
*.pdb
*.cache
