@page
@model Inventory.Pages.Items.EditModel

@{
    ViewData["Title"] = "Edit a Item";
}

<h1>Edit a Item</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.ItemID" />
            <div class="form-group">
                <label asp-for="Item.CategoryID" class="control-label"></label>
                <input asp-for="Item.CategoryID" class="form-control" />
                <span asp-validation-for="Item.CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control" />
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Save" /> |
                <a asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<script>
    document.querySelector("#Items").classList.add("selected");
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
