@page
@model Inventory.Pages.Categories.CreateModel

@{
    ViewData["Title"] = "Create a New Category";
}

<h1>Create a New Category</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.Description" class="control-label"></label>
                <input asp-for="Category.Description" class="form-control" />
                <span asp-validation-for="Category.Description" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Create" /> |
                <a asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<script>
    document.querySelector("#Categories").classList.add("selected");
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
