@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Home</h1>


<form method="post">
    <section id="listview">
        <table>
            <thead>
                <tr>
                    <th>Item Last Updated</th>
                    <th>Location</th>
                    <th>Item</th>
                    <th>Expected Count</th>
                    <th>Actual Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input type="text" class="invInputBox" /></td>
                </tr>
            </tbody>
        </table>
        <br />
        <input type="submit" id="mainMenuSave" value="Save" />
    </section>
</form>

<script>
    document.querySelector("#Home").classList.add("selected");
</script>