<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h2>Inventory</h2>
        <nav>
            <ul>
                <li><a id="Home" asp-area="" asp-page="/Index">Home</a></li>
                <li><a id="Items"asp-area="" asp-page="/Items/Index">Items</a></li>
                <li><a id="Categories" asp-area="" asp-page="/Categories/Index">Categories</a></li>
                <li><a id="Locations" asp-area="" asp-page="/Locations/Index">Locations</a></li>
                <li><a id="Export" asp-area="" asp-page="/Export">Import & Export</a></li>
            </ul>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
