/* Media queries for the tool section and the list view section to adapt to the width of the display better. Supporting smaller and larger displays. */


/* Media query for the toolbar and list view ajusting width percentage */
@media only screen and (max-width: 800px) {
	
	#tools {
		width: 50vw;
	}
	
	#listview {
		width: 50vw;
	}
	
}

@media only screen and (min-width: 1200px) {
	
	#tools {
		width: 80vw;
	}
	
}




