/*Reset styles for all elements*/
* {
	padding: 0;
	margin: 0;
}

/* Body styles*/
body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	background-color: #f0f0f0;
}

/* Header container, the whole left nav bar and logo*/
header {
	float: left;
	width: 160px;
	
	padding: 16px;
}

/*Header Logo*/
header > h2 {
	font-size: 32px;
	font-weight: 600;
}

/*Navigation section*/
header > nav {
	margin-top: 20px;
	margin-left: -25px;
}

/*Navigation links*/
header > nav > ul a {
	display: block;

	text-align: center;
	text-decoration: none;
	font-weight: 600;

	padding-top: 15px;
	padding-bottom: 15px;

	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;

	color: black;
	background-color: #e0e0e0;
}

/* Hover color */
header > nav a:hover {
	background-color: #ffd689;
}

/*Navigation padding between links*/
header > nav > ul > li {
	margin-top: 20px;
}

h1 {
	text-align: center;
	margin: 10px;
}

h3 {
	text-align: center;
}

input[type=submit] {
	padding: 2px;
	text-decoration: none;
	background-color: #ffd689;
}

/*Highlight color for selected navigation link*/
.selected {
	background-color: #ffd689 !important;
}

/*Styles for sections, such as Tools and the list view of all items*/
section {
	float: left;
	padding: 16px;
}

section > h2 {
	margin-left: 10px;
	color: #919191;
	font-size: 12px;
}

/*Tool container*/
#tools {
	width: 70vw;
	height: auto;
	
	margin-top: 25px;
}

/*A single tool module*/
#toolModule {
	float: left;

	width: 180px;
	height: 55px;

	margin-top: 10px;
	margin-left: 10px;

	background-color: #ffe8bb;
	
	cursor: pointer;
}

/*A single tool icon for a tool module*/
#toolIcon {
	float: left;
	
	width: 55px;
	height: inherit;

	text-align: center;
	
	background-color: #ffd689;
}

/*A single tool icon for a tool module*/
#toolIcon > img {
	width: 38px;
	height: 38px;
	margin-top: 8px;
}

/*A single tool paragraph for a tool module*/
#toolText {
	float: left;
	
	width: 115px;
	height: inherit;

	text-decoration: none;
	color: black;

	padding-top: 7px;
	padding-left: 5px;

	text-align: center;
	font-size: 12px;
	font-weight: 600;
}

/* List view container */
#listview {
	width: 70vw;
	min-width: 520px;
	height: auto;
}

/* Table styles */
#listview > table {
	width: 100%;
	height: auto;
	
	margin-top: 10px;

	border-collapse: collapse;

	background-color: #fff;
	border: 1px solid gray;
}

/* Table header */
#listview > table th {
	background-color: #ffd689;
	text-align: center;
	font-weight: 600;
	color: black;
	padding: 8px;
	border-right: 1px solid gray;
}

/* Table odd/even highlight colors */
#listview > table tr:nth-child(even) {
	background-color: #ededed;
}

/* Hover color */
#listview > table tr:hover {
	background-color: #ffd689;
	cursor: pointer;
}

/* Table column padding */
#listview > table td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	
	font-size: 12px;
	font-weight: 600;
	color: #5c5c5c;
}

.invInputBox {
	width: 95%; /* This doesn't space it evenly on different browser sizes */
}

#mainMenuSave {
	width: 50%;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
}

/* Media queries for the tool section and the list view section to adapt to the width of the display better. Supporting smaller and larger displays. */
/* Media query for the toolbar and list view ajusting width percentage */
@media only screen and (max-width: 800px) {
	
	#tools {
		width: 50vw;
	}
	
	#listview {
		width: 50vw;
	}
	
}

@media only screen and (min-width: 1200px) {
	
	#tools {
		width: 80vw;
	}
	
}