/*Reset styles for all elements*/
* {
	padding: 0;
	margin: 0;
}

/* Body styles*/
body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	background-color: #f0f0f0;
}




/*
	The header is where the title of the application
	aswell as the navigation links are stored.
*/
/* Header container, the whole left nav bar and logo*/
header {
	float: left;
	width: 160px;
	
	padding: 16px;
}
/*Header Logo*/
header > h2 {
	font-size: 32px;
	font-weight: 600;
}
/*Navigation section*/
header > nav {
	margin-top: 20px;
	margin-left: -25px;
}
/*Navigation links*/
header > nav > ul a {
	display: block;

	text-align: center;
	text-decoration: none;
	font-weight: 600;

	padding-top: 15px;
	padding-bottom: 15px;

	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;

	color: black;
	background-color: #e0e0e0;
}
/*Navigation padding between links*/
header > nav > ul > li {
	margin-top: 20px;
}
/* Hover color */
header > nav a:hover {
	background-color: #ffd689;
}
/*Highlight color for selected navigation link*/
.selected {
	background-color: #ffd689 !important;
}






/*

	Any section is any content that is located to the
	right of the header. Any content that is displayed
	should always be inside a section.

	Use multiple section tags to create different "sections"
	of a page's content.

*/
section {
	float: left;
	padding: 16px;
}
section > h2 {
	font-weight: 400;
	color: gray;
	text-align: center;
}



/*Not sure what this is for, but don't touch it yet bahaha - Alexander*/
h3 {
	text-align: center;
}






/*

	This is the container div that holds all
	the big button tool "action" icons

*/
/* The tool container that holds #toolModule several modules*/
#tools {
	width: 70vw;
	height: auto;

	margin-top: 25px;
}
/* The title for the container*/
#tools > h6 {
	color: gray;
}

/* A single tool module */
#toolModule {
	float: left;

	width: 180px;
	height: 55px;

	margin-top: 10px;
	margin-left: 10px;

	background-color: #ffe8bb;
	
	cursor: pointer;
	
}
/* The icon and background for a tool module*/
#toolIcon {
	float: left;
	
	width: 55px;
	height: inherit;

	text-align: center;
	
	background-color: #ffd689;
}
/* Styles for the icon in the tool module*/
#toolIcon > img {
	width: 38px;
	height: 38px;
	margin-top: 8px;
}
/* The text that is shown within a tool module*/
#toolText {
	float: left;
	
	width: 115px;
	height: inherit;

	text-decoration: none;
	color: black;

	padding-top: 7px;
	padding-left: 5px;

	text-align: center;
	font-size: 12px;
	font-weight: 600;
}







/*

	This is the table styles for the
	table tag

*/
/* List view container */
#listview {
	width: 70vw;
	min-width: 520px;
	height: auto;
}
/* Table styles */
#listview > table {
	width: 100%;
	height: auto;
	
	margin-top: 10px;

	border-collapse: collapse;

	background-color: #fff;
	border: 1px solid gray;
}
/* Table header */
#listview > table th {
	background-color: #ffd689;
	text-align: center;
	font-weight: 600;
	color: black;
	padding: 8px;
	border-right: 1px solid gray;
}
/* Table odd/even highlight colors */
#listview > table tr:nth-child(even) {
	background-color: #ededed;
}
/* Hover color */
#listview > table tr:hover {
	background-color: #ffd689;
	cursor: pointer;
}
/* Table column padding */
#listview > table td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	
	font-size: 12px;
	font-weight: 600;
	color: #5c5c5c;
}




/* Styles for the editText, or input text, box in a form*/
input[type=text] {
	width: 75%;
	height: auto;
}
/*Styles for the submit button located in <form> tags*/
input[type=submit]{
	/* Might not want to always have, but leave the float for now - Alexander*/
	float: right;
	
	display: inline-block;
	padding: 8px;
	width: 80px;
	height: auto;
	background-color: white;
	border: 2px solid #ffd689;
	border-radius: 50px;
	color: black;
}
/*Hover highlight effect for button*/
input[type=submit]:hover {
	background-color: #ffd689;
	cursor: pointer;
}





/* Media queries for the tool section and the list view section to adapt to the width of the display better. Supporting smaller and larger displays. */
/* Media query for the toolbar and list view ajusting width percentage */
@media only screen and (max-width: 800px) {
	#tools {
		width: 50vw;
	}
	#listview {
		width: 50vw;
	}
}

@media only screen and (min-width: 1200px) {
	#tools {
		width: 80vw;
	}
}