@page
@model Inventory.Pages.Locations.EditModel

@{
    ViewData["Title"] = "Edit a Locatin";
}

<h1>Edit a Location</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Location.LocationID" />
            <div class="form-group">
                <label asp-for="Location.Description" class="control-label"></label>
                <input asp-for="Location.Description" class="form-control" />
                <span asp-validation-for="Location.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
