@page
@model Inventory.Pages.Locations.IndexModel

@{
    ViewData["Title"] = "Locations";
}

<h1>Locations</h1>

<section id="tools">
    <h2>Tools</h2>
    <a asp-page="Create">
        <div id="toolModule" onclick="toolClick('create')">
            <div id="toolIcon">
                <img src="res/ic_add.png">
            </div>
            <div id="toolText">
                Create a new location
            </div>
        </div>
    </a>

    <div id="toolModule" onClick="toolClick('delete')">
        <div id="toolIcon">
            <img src="res/ic_remove.png">
        </div>
        <div id="toolText">
            Delete an existing location
        </div>
    </div>

    <div id="toolModule" onClick="toolClick('edit')">
        <div id="toolIcon">
            <img src="res/ic_edit.png">
        </div>
        <div id="toolText">
            Edit an existing location
        </div>
    </div>
</section>





<section id="listview">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Location[0].Description)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Location)
            {
                <tr id="row-@item.LocationID" onclick="itemClick(@item.LocationID)">
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>







<script type="text/javascript">

    // Last clicked item in the list view.
    // Set to -1, because whole numbers exist
    // in the database
    var lastClickedID = -1;


    // Function that handles onClick events from the tools section
    function toolClick(toolName) {

        // Check to see if the last clicked item is valid
        if (lastClickedID > -1) {
            // Temp code to view button clicks
            switch (toolName) {
                case "create":
                    alert("You clicked the create tool");
                    break;

                case "edit":
                    // Take the user to the edit page
                    window.location = "/Locations/Edit?id=" + lastClickedID;
                    break;

                case "delete":
                    // Take the user to the delete page
                    window.location = "/Locations/Delete?id=" + lastClickedID;
                    break;
            }

        } else {
            alert("Select an item from the table to preform this action.");
        }

    }


    // Function that handles onClick events for rows in the table (#listview)
    function itemClick(itemID) {

        // Remove the last selected item if anything was selected
        if (lastClickedID > -1) {
            document.querySelector("#row-" + lastClickedID).classList.remove("selected");
        }

        // Store the last clicked ID
        lastClickedID = itemID;

        // Highlight the selected item
        document.querySelector("#row-" + lastClickedID).classList.add("selected");

    }

</script>